/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .tooltip .tooltiptext {
    text-align: center;
    /* Position the tooltip text*/
    position: absolute;
    z-index: 1;
  }
  
  
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* arrow at the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }